<div class="right">
    <div class="right1">
        <img src="https://download.logo.wine/logo/KORE_Wireless/KORE_Wireless-Logo.wine.png" alt="">
    </div>
    <div class="right2">
        <img src="assets/man3.jpg" alt="">
    </div>
    <div class="right3">
        <h1>Innovative</h1>
        <h4>We explore and consider ideas from every source enabling us to deliver insights leading us to new, better
            outcomes in IoT</h4>
        <!-- <button id="buttonright" (click)="service()">Click Me</button> -->
        <button id="buttonright" (click)="onbtnclick()">Click Me</button>
    </div>
</div>