<div class="left">
    <div class="left1">
        <img src="https://download.logo.wine/logo/KORE_Wireless/KORE_Wireless-Logo.wine.png" alt="">
    </div>
    <div class="left2">
        <img src="assets/man1.jpg" alt="">
    </div>
    <div class="left3">
        <h1>Agile</h1>
        <h4>Combaining the capability of large global providers with velocity of tight team, we get more of the
            right things done, faster</h4>
        <!-- <button id="buttonleft" (click)="service()">{{title}}</button> -->
        <button id="buttonleft" (click)="onbtnclick()">Click Me</button>
        
    </div>
</div>