.left{
    display: flex;
    flex-direction: column;
    width: 500px;
    overflow: hidden;
    color: rgb(240, 255, 255,0.7);
    /* align-items: center; */
    border: 5px solid grey;
    padding: 20px;
    margin-left: 15px;
}
.left1 img{
width: 150px;
float: left;
}
.left2 img{
    width: 350px;
    float: right;
    position:relative;
    right: -px;
    border-radius: 50% 50%;
    height: 45vh;
    margin-right: -65px;
}
#buttonleft{
    width:100px;
    height:30px;
    border-radius: 45%;
    color: black;
    opacity: 0.4;
}
h1{
    color:rgb(180, 127, 52)
}