<div class="mid">
    <div class="mid1">
        <img src="https://download.logo.wine/logo/KORE_Wireless/KORE_Wireless-Logo.wine.png" alt="">
    </div>
    <div class="mid2">
        <img src="assets/man2.jpg" alt="">
    </div>
    <div class="mid3">
        <h1>Simplify Iot</h1>
        <h4>Kore simplifies complexity access the IoT ecosystem, enabling our customer IoT vision and delivering
            measurable value</h4>
        <!-- <button id="buttonmid" (click)="service()">Click Me</button> -->
        <button id="buttonmid" (click)="onbtnclick()" >Click Me</button>
    </div>
</div>)